.list .item {
padding: 5px 10px;
border-bottom: 1px solid #ccc;
cursor: pointer;
background: url(../img/arrow-right.png) center right no-repeat;
min-height: 30px;
}
.list .item:hover {
text-decoration: underline;
}
.text {
padding: 10px;
font-size: 18px;
}