/* -------------------------------------------------------------- 
  
   reset.css
   * Resets default browser CSS.
   
-------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}

input, select, textarea {
margin: 0px;
}

body {
line-height: 1.2;
}

table {
border-collapse: separate;
border-spacing: 0;
}
caption, th, td {
text-align: left;
font-weight: normal;
}
/*
table, td, th {
vertical-align: middle;
}
*/

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after {
content: "";
}
blockquote, q {
quotes: "" "";
}

/* Remove annoying border on linked images. */
a img {
border: none;
}
a {
cursor: pointer;
}
/* -------------------------------------------------------------- 
   
   typography.css
   * Sets up some sensible default typography.
   
-------------------------------------------------------------- */

h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
margin: 0;
}

/* Default font settings. 
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
body {
font-size: 12px;
color: #222;
background: #fff;
font-family: Verdana, Tahoma, "Helvetica Neue", Helvetica, sans-serif;
}

body, input {
font-size: 12px;
}

/* Headings
-------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
font-weight: normal; /*color: #111;*/
}

h1 {
font-size: 2em;
line-height: 1;
margin-bottom: 0.5em;
}
h2 {
font-size: 1.4em;
margin-bottom: 0.5em;
line-height: 1;
margin-top: 0;
}
h3 {
font-size: 1.3em;
line-height: 1;
margin-bottom: 0.5em;
margin-top: 0.5em;
}
h4 {
font-size: 1.2em;
line-height: 1.25;
margin-bottom: 0.7em;
margin-top: 0.7em;
font-weight: bold;
}
h5 {
font-size: 1.1em;
font-weight: bold;
margin-bottom: 1.5em;
}
h6 {
font-size: 1em;
font-weight: bold;
}

/* Text elements
-------------------------------------------------------------- */

p {
margin: 0 0 0.7em;
}

a:focus,
a:hover {
color: #000;
}
a {
color: #009;
text-decoration: underline;
}

blockquote {
margin: 1.5em;
color: #666;
font-style: italic;
}
strong {
font-weight: bold;
}
em, dfn {
font-style: italic;
}
dfn {
font-weight: bold;
}
sup, sub {
line-height: 0;
}

abbr,
acronym {
border-bottom: 1px dotted #666;
}
address {
margin: 0 0 1.5em;
font-style: italic;
}
del {
color: #666;
}

pre {
margin: 1.5em 0;
white-space: pre;
}
pre, code, tt {
font: 1em 'andale mono', 'lucida console', monospace;
line-height: 1.5;
}

/* Lists
-------------------------------------------------------------- */

li ul,
li ol {
margin: 0 1.5em;
}
ul, ol {
margin: 0.5em 1.5em 0.5em 2.5em;
}

ul {
list-style-type: disc;
}
ol {
list-style-type: decimal;
}

dl {
margin: 0 0 1.5em 0;
}
dl dt {
font-weight: bold;
}
dd {
margin-left: 1.5em;
}
li {
margin-bottom: 0.5em
}
ul li {
list-style: square;
}

/* Tables
-------------------------------------------------------------- */

th {
font-weight: bold;
}
/*th,td,caption { padding: 4px 10px 4px 5px; }*/
th, td, caption {
padding: 0px;
}
tr.even td {
background: #e5ecf9;
}
tfoot {
font-style: italic;
}
caption {
background: #eee;
}

/* Misc classes
-------------------------------------------------------------- 

.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 16px; }


.quiet      { color: #666; }
.loud       { color: #000; }
.highlight  { background:#ff0; }
.added      { background:#060; color: #fff; }
.removed    { background:#900; color: #fff; }

.first      { margin-left:0; padding-left:0; }
.last       { margin-right:0; padding-right:0; }
.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }

.prepend-top { 
  margin-top:1.5em; 
}
.append-bottom { 
  margin-bottom:1.5em; 
}
*/

/* Use this to create a horizontal ruler across a column. */
hr {
background: #ddd;
color: #ddd;
clear: both;
float: none;
width: 100%;
height: 1px;
margin: 0 0 1.45em;
border: none;
}
hr.space {
background: #fff;
color: #fff;
}

/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */

.clearfix:after, .container:after {
content: "\0020";
display: block;
height: 0;
clear: both;
visibility: hidden;
overflow: hidden;
}
.noOverflow {
overflow: hidden;
}
.clearfix, .container {
display: block;
}
.container {
position: relative;
}
/* Regular clearing
   apply to column that should drop below previous ones. */

/* --------------------------------------------------------------
   
   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms
   
   Usage:
   * For text fields, use class .title or .text
   
-------------------------------------------------------------- */

fieldset {
padding: 1.4em;
margin: 0 0 1.5em 0;
border: 1px solid #ccc;
}
legend {
font-weight: bold;
font-size: 1.2em;
}

/* Form fields
-------------------------------------------------------------- */

.fld, select {
border: 1px solid #bbb;
}
.fld:focus, textarea:focus, select:focus {
border: 1px solid #666;
}

input.text,
input.title {
width: 300px;
padding: 5px;
}
input.title {
font-size: 1.5em;
}
textarea {
width: 390px;
height: 250px;
padding: 5px;
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.error {
color: #FF7F7F;
}

embed {
display: block;
}