.body .container {
padding-top: 120px;
}
.title {
padding-left: 229px;
width: 300px;
font-family: Boblic;
font-size: 15px;
color: #CFCED3;
height: 65px;
}
.overview {
margin-top: -7px;
text-align: center;
color: #CFCED3;
width: 300px;
padding-left: 190px;
font-style: Italic;
font-family: Georgia;
font-size: 14px;
}
.menu {
margin-top: 95px;
padding-left: 130px;
font-family: Boblic;
font-size: 22px;
}
.menu span,
.menu a {
color: #43413E;
display: inline-block;
min-height: 69px;
padding-left: 30px;
background: url(../img/icon.png) no-repeat;
}
.menu a {
color: #43413E;
margin-left: 20px;
}
.menu a.ex {
padding-left: 0px;
margin-left: 5px;
background: none;
}
.menu a:hover {
color: #000;
}
