.header {
background: #000;
height: 40px;
position: fixed;
width: 100%;
-webkit-backface-visibility: hidden;
}
.header .title {
color: #fff;
height: 40px;
line-height: 40px;
text-align: center;
overflow: hidden;
padding-left: 30px;
}
.header a {
color: #fff;
}
.hBackBtn {
position: absolute;
top: 0;
right: 0;
width: 40px;
height: 40px;
z-index: 10;
background: #555 url(../img/arrow-left.png) no-repeat center center;
}
.hMenuBtn {
position: absolute;
top: 0;
left: 0;
width: 40px;
height: 40px;
background: #555 url(../img/menu.png) no-repeat center center;
}
